@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="user-img-link" asp-controller="Account" asp-action="Index">
        <img class="user-img" src="~/images/default_user.png" alt="User Image">
    </a>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <button class="btn" id="logout" type="submit">Logout</button>
    </form>
}
else
{
    <a class="btn clean-link" asp-controller="Account" asp-action="Login">Login</a>
}