@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="user-img-link" asp-controller="Account" asp-action="Index">
        @{
            var user = await UserManager.GetUserAsync(User);
        }
        @if(user is null || string.IsNullOrEmpty(user.UserImageUrl)){
            <img class="user-img" src="~/images/default_user.png" alt="User Image">
        }
        else{
            <img class="user-img" src="@user.UserImageUrl" alt="User Image">
        }
    </a>
    <form class="mobile" method="post" asp-controller="Account" asp-action="Logout" onsubmit="return confirm('Logout: Are you sure?');">
        <button class="btn" id="logout" type="submit">Logout</button>
    </form>
    <form class="desktop" method="post" asp-controller="Account" asp-action="Logout">
        <button class="btn" id="logout" type="submit">Logout</button>
    </form>
}
else
{
    @if (ViewData["Title"] is null || ViewData["Title"] != "Login"){
        <a class="btn clean-link" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
    }
}