.add-btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 20px 0px;
    height: 100%;
    align-self: flex-end;
}

.add-btn-wrapper > a{
    display: inline-block;
}

@media screen and (min-width: 480px)  {
}

@media screen and (min-width: 600px)  {
}

@media screen and (min-width: 1000px)  {
    main{
        align-content: flex-start;
    }
}