.spacing{
    height: 30vh;
}

.rating-text{
    margin-bottom: 10px;
}

.add-review-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-bg-color);
    padding: 20px;
    max-width: 600px;
    border-radius: 30px;
}

#WriteReview{
    height: 8vh;
}

.hidden{
    display: none;
}

.inactive-star:hover{
    cursor: pointer;
}

.active-star{
    color: var(--select-color);
}

.active-star:hover{
    cursor: pointer;
}

.star-container{
    text-align: center;
    padding: 20px;
}

.star-container::selection{
    background-color: transparent;
}

.star-container span::selection{
    background-color: transparent;
}

.form-title{
    padding: 10px 15px;
    background-color: inherit;
    border-radius: 30px;
    margin: 20px 0;
}

.form-comment{
    margin: 20px 0;
    padding: 15px 15px;
    background-color: inherit;
    border-radius: 30px;
    max-width: 100%;
    height: 30vh;
    min-height: 200px;
}


.form-btn{
    align-self: center;
    margin-top: 20px;
    width: 50%;
}


@media screen and (min-width: 600px)  {
    #WriteReview{
        height: 12vh;
    }
}