.page-title{
    text-align: center;
}

.all-books-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: clamp(15px, 3vw, 25px);
    font-size: clamp(1rem, 2vw, 1.2rem);
}


@media screen and (min-width: 480px)  {

}

@media screen and (min-width: 600px)  {
}

@media screen and (min-width: 1000px)  {
    .cards-container{
        width: 88%;
        margin: auto;
    }

    .cards-container{
        margin: auto;
        width: 80%;
    }

    .review-card-container{
        margin: 50px;
    }
}