.page-title{
    text-align: center;
}




@media screen and (min-width: 480px)  {

}

@media screen and (min-width: 600px)  {
}

@media screen and (min-width: 1000px)  {
    .cards-container{
        width: 88%;
        margin: auto;
    }

    .cards-container{
        margin: auto;
        width: 80%;
    }
}