.page-title{
    text-align: center;
}

.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    position: relative;
    left: -32px;
}

.search-bar{
    background-color: inherit;
    display: inline-block;
    width: 80%;
    min-width: 200px;
    max-width: 500px;
    border: 1px solid var(--primary-text-color);
    border-radius: 30px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 35px;
    font-size: 0.9rem;
}

.search-bar:focus{
    outline: none;
    box-shadow: 0px 1px 2px var(--primary-text-color);
}

.book-card-container{
    display: flex;
    width: 100%;
    margin: auto;
    overflow: auto;
    margin-bottom: 30px;
}

.book-card{
    text-align: center;
    font-size: 0.8rem;
    width: 150px;
    margin-right: 15px;
}

.book-card:last-of-type{
    margin-right: 0px;
}

.book-card img{
    object-fit: cover;
    width: 100%;
    height: 80%;
    border-radius: 7%;
}

.book-card-text{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




.review-card{
    background-color: var(--secondary-bg-color);
    padding: 5px;
    display: flex;
    margin-bottom: 12px;
}

.user-info{
    text-align: center;
    padding: 4px;
    padding-top: 10px;
}

.user-info > img{
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--primary-text-color);
}

.user-info > p{
    font-size: 0.8rem;
    margin: 0;
}

.review-info{
    padding: 2px;
}

.review-info > h3{
    margin: 0;
    font-size: 1rem;
}

.review-title{
    margin: 3px 0 0 0;
    font-size: 0.9rem;
}

.review-body{
    font-size: 0.8rem;
}

.review-stars{
    padding: 5px;
    display: flex;
    align-content: center;
    color: var(--select-color);
}


@media screen and (min-width: 480px)  {
    .search-bar{
        font-size: clamp(0.8rem, 1.4vw, 1.1rem);
        padding-top: clamp(8px, 2vw, 15px);
        padding-bottom: clamp(8px, 2vw, 15px);
    }

    .search-icon{
        left: -35px;
    }

    .user-info{
        padding: clamp(6px, 1vw, 15px);
    }

    .user-info > img{
        width: 40px;
        height: 40px;
    }

    .user-info > p{
        font-size: clamp(0.8rem, 2vw, 1.2rem);
    }
    
    .review-info{
        padding: clamp(6px, 1vw, 15px);
    }

    .review-info > h3{
        margin: 0;
        font-size: clamp(1rem, 2vw, 1.4rem);
    }

    .review-title{
        font-size: clamp(0.9rem, 2vw, 1.3rem);
    }

    .review-body{
        font-size: clamp(0.8rem, 2vw, 1rem);
    }


}

@media screen and (min-width: 600px)  {
    .book-card{
        margin-right: clamp(20px, 5vw, 35px);
        width: clamp(150px, 15vw, 200px);
        font-size: clamp(0.8rem, 1vw, 1.2rem);
    }

    .user-info > img{
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 1000px)  {
    .book-card-container{
        width: 88%;
        margin: auto;
    }

    .review-card-container{
        margin: auto;
        width: 80%;
    }
}