.book-wrapper{
    padding: 5px;
    font-size: 1rem;
}

.book-img-wrapper{
    margin: 10px;
    float: left;
}

.cover-img{
    object-fit: cover;
    width: 150px;
    height: auto;
}

.title{
    margin: 5px 0px;
}

.subtitle{
    margin: 5px 5px;
}

.average-rating{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.book-info-wrapper{
    padding: 8px;
}

.book-description{
    margin-top: 8px;
    padding: 10px;
}

.book-review-rating{
    display: flex;
    vertical-align: center;
}

.review-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.book-idfs{
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.no-reviews {
    text-align: center;
}

.pagination-wrapper{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin: 20px;
}

.pagination-item{
    padding: 10px;
}

.current-page{
    color: var(--select-color);
}

@media screen and (min-width: 480px)  {
    .cover-img{
        width: clamp(150px, 25vw, 250px);
    }
}

@media screen and (min-width: 600px)  {
    .book-wrapper{
        font-size: clamp(1rem, 2vw, 1.1rem);
        display: flex;
        float: none;
    }

    .book-info-wrapper{
        font-size: clamp(1em, 1.5vw, 1.1em);
    }

    .book-description{
        font-size: clamp(1em, 1.5vw, 1.2em);
    }
}

@media screen and (min-width: 1000px)  {
}