.landing-title{
    font-size: 1.4rem;
    margin: 0;
}

.landing-text p{
    padding-left: 15px;
    padding-right: 15px;
}

.landing-image-wrapper{
    display: flex;
    justify-content: center;
}

.landing-image{
    align-self: center;
    width: 100%;
    max-width: 300px;
}

.landing-title::first-letter{
    font-size: 2em;
}

.most-recent{
    margin-top: 10px;
}


.animated{
    display: inline-block;
    animation-name: jumping;
    animation-iteration-count: infinite;
    animation-duration: 300ms;
    animation-play-state: paused;
}

.animated:hover{
    animation-play-state: running;
}

@keyframes jumping{
    50% {transform: translateY(-3px);}
    100% {transform: translateY(3px);}
}


@media screen and (min-width: 480px)  {
    .landing-title{
        font-size: clamp(1.4rem, 2vw, 2rem);
    }
}

@media screen and (min-width: 600px)  {
    .landing{
        display: grid;
        grid-template-columns: auto auto;
    }

    .new-this{
        margin-top: 30px;
    }

}

@media screen and (min-width: 1000px)  {
    .landing-text p{
        padding-left: 30px;
        padding-right: 30px;
    }
}