main{
    padding: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    flex: 1;
}

.nav-bar{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    box-shadow: 0px 1px 4px var(--shadow-color);
    font-size: 0.8rem;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-left a:last-of-type{
    margin-left: 4px;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-logo{
    width: 50px;
    height: auto;
}

.nav-logo-text{
    font-size: 1.4rem;
    margin-right: 5px;
}

.nav-catalog-btn{
    display: flex;
    align-items: center;
}

.nav-catalog-btn span:last-of-type{
    margin-left: 3px;
}

.user-img-link{
    display: inline-block;
    line-height: 0;
    margin-right: 6px;
}

.user-img{
    display: inline-block;
    object-fit: cover;
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-text-color);
    border-radius: 50%;
}

footer{
    width: 100%;
    background-color: inherit;
    padding: 10px;
    position: inherit;
    box-shadow: 0px 1px 5px var(--shadow-color);
    z-index: 2;
}

@media screen and (min-width: 480px)  {
    main{
        padding: clamp(20px, 5vw, 40px);
    }

    .nav-bar{
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        padding: clamp(5px, 2vw, 15px) clamp(5px, 2vw, 50px);
    }

    .nav-logo-text{
        font-size: clamp(1.4rem, 2vw, 2rem);
    }

    .nav-logo{
        width: 70px;
    }

    .nav-logo-text{
        margin-right: clamp(10px, 2vw, 20px);
    }

    .user-img-link{
        margin-right: clamp(8px, 2vw, 20px);
    }

    .user-img{
        width: 50px;
        height: 50px;
    }

    footer{
        padding: clamp(12px, 2vw, 20px);
        font-size: clamp(1rem, 2vw, 1.2rem);
    }
}

@media screen and (min-width: 1000px)  {
    main {
        flex: content;
        margin: auto;
        align-content: center;
    }
    .nav-logo{
        width: 80px;
    }

    .user-img{
        width: 60px;
        height: 60px;
    }
}