.pagination-wrapper {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin: 20px;
}

.pagination-item {
    padding: 10px;
}

.current-page {
    color: var(--select-color);
}

