.change-pfp-form{
    background-color: var(--secondary-bg-color);
    max-width: 600px;
    padding: 20px;
    margin: 30px auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-pfp-form input{
    margin: 10px;
}

.change-pfp-form button{
    margin: 10px;
}

.change-bio-input{
    background-color: inherit;
    max-width: 100%;
    border-radius: 30px;
    padding: 15px 20px;
    height: 30vh;
    min-height: 150px;
}

.change-bio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.change-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-form > input{
    padding: 15px;
    border-radius: 30px;
    border: 1px solid var(--primary-text-color);
    margin: 8px;
    width: 70%;
    min-width: 300px;
    max-width: 400px;
    background-color: inherit;
}

.change-form > input:focus{
    outline: none;
    box-shadow: 0px 1px 2px var(--primary-text-color);
}

.change-form > button{
    margin-top: 10px;
}

.buttons{
    width: 50%;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.change-btns a{
    text-align: center;
    margin-right: clamp(5px, 2vw, 30px);
}

.change-btns{
    margin: clamp(5px, 2vw, 15px);
    display: flex;
    justify-content: center;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
}

@media screen and (min-width: 480px)  {
    .login-form > input{
        font-size: clamp(1rem, 2vw, 1.1rem);
    }
}

@media screen and (min-width: 600px)  {
}

@media screen and (min-width: 1000px)  {
    main{
        align-content: flex-start;
    }
}