.review-card-container{
    max-width: 800px;
    margin: auto;
}

.user-profile-wrapper{
    background-color: var(--secondary-bg-color);
    border-radius: 30px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.user-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.profile-picture{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-bio{
    padding: 20px;
}

.review-card{
    padding: 10px 20px;
}

.user-details{
    width: 100%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

@media screen and (min-width: 480px)  {
}

@media screen and (min-width: 600px)  {
    .user-profile-wrapper{
        font-size: clamp(1rem, 1.5vw, 1.2rem);
    }

    .user-profile{
        display: flex;
    }
}

@media screen and (min-width: 1000px)  {
    .profile-picture{
        width: 150px;
        height: 150px;
    }
}