.btn{
    border: 0px;
    border-radius: 30px;
    background-color: var(--button-bg-color);
    padding: 12px;
}

.btn:hover{
    background-color: rgb(70, 45, 0);
    color: white;
    cursor: pointer;
}

.clean-link{
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 480px)  {
    .btn{
        padding: 15px;
    }
}

@media screen and (min-width: 1000px)  {
}