.btn{
    border: 0px;
    border-radius: 30px;
    background-color: var(--button-bg-color);
    padding: 12px;
}

.btn:hover{
    background-color: var(--primary-text-color);
    color: white;
    cursor: pointer;
}

.btn-danger{
    border: 0px;
    border-radius: 30px;
    background-color: var(--select-color);
    padding: 12px;
}

.btn-danger:hover {
    background-color: var(--danger-secondary-color);
    color: white;
    cursor: pointer;
}

.clean-link{
    text-decoration: none;
    color: inherit;
}

.t-align-center{
    text-align: center;
}

@media screen and (min-width: 480px)  {
    .btn{
        padding: 15px;
    }
}

@media screen and (min-width: 1000px)  {
}