@{
    ViewData["Title"] = "About Me";
}
<h1>Hi there! Thanks for using BookCat 🐈</h1>
<h2>About Me</h2>
<p>I am holypeach, I program for fun and I love to learn complex topics!</p>
<h2>About the Site</h2>
<ul>
    <li>BookCat is a web application built for discovering and reviewing books.</li>
    <li>Users can create accounts, search for books locally or add books via external data sources, and write 
        or read reviews.</li>
    <li>Users can also see other users' profiles.</li>
</ul>
<p>The site's design is my own. Apart from book information that is acquired from the Google Books API, the only other external assets I used were 
the BookCat logo, favicon, and landing image. These were temporarily created using generative AI for prototyping purposes. I don’t support the commercial 
use of AI-generated art, since much of the data used to train these models comes from artists without their consent or because of shady "terms and conditions." 
If this project were ever to become public or commercial, I would replace all generated visuals with original artwork commissioned from human artists.</p>
<h2>Tech Stack</h2>
<ul>
    <li>Pure <b>CSS</b> for styling</li>
    <li>ASP.NET's default <b>jquery</b> for client side validation</li>
    <li><b>ASP.NET MVC</b></li>
    <li><b>Identity Framework</b> for authentication</li>
    <li><b>Entity Framework Core</b> for communication with Db</li>
    <li><b>Google Book API</b> to retrieve book information, but I store it on the Db after a user 'adds' it</li>
    <li><b>SQL Express</b> Database</li>
</ul>
<h2>Links</h2>
<h3>The Project's GitHub: <a href="https://github.com/holypeachy/BookCat" target="_blank">BookCat</a></h3>
<h3>My GitHub: <a href="https://github.com/holypeachy" target="_blank">holypeach</a></h3>
