@using BookCat.Site.Controllers
@model AccountController.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<form class="login-form" asp-action="ChangePassword" method="post">
    <h1>Change Password</h1>
    <span asp-validation-for="OldPassword" class="text-danger"></span>
    <input asp-for="OldPassword" type="password" placeholder="Old Password" required />
    <span asp-validation-for="NewPassword" class="text-danger"></span>
    <input asp-for="NewPassword" type="password" placeholder="New Password" required />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm New Password" required />
    <button class="btn" type="submit">Submit</button>
</form>

@section Styles {
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/login.css">
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}