@using BookCat.Site.Controllers
@model AccountController.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form class="login-form" asp-action="Login" method="post">
  <h1>Login</h1>
  <span asp-validation-for="Email" class="text-danger"></span>
  <input asp-for="Email" type="email" placeholder="Email" required />
  <span asp-validation-for="Password" class="text-danger"></span>
  <input asp-for="Password" type="password" placeholder="Password" required />
  <div class="buttons">
    <a class="btn clean-link" asp-controller="Account" asp-action="Register">Register Here</a>
    <button class="btn" type="submit">Login</button>
  </div>
</form>

@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}