@{
    ViewData["Title"] = "Test";
}
<div class="star-container">
    <span id="star-1" class="material-symbols-outlined inactive-star" onclick="rating(1)">star_rate</span>
    <span id="star-2" class="material-symbols-outlined inactive-star" onclick="rating(2)">star_rate</span>
    <span id="star-3" class="material-symbols-outlined inactive-star" onclick="rating(3)">star_rate</span>
    <span id="star-4" class="material-symbols-outlined inactive-star" onclick="rating(4)">star_rate</span>
    <span id="star-5" class="material-symbols-outlined inactive-star" onclick="rating(5)">star_rate</span>
    <input id="hidden-input" class="hidden" type="number" value="">
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/test.css">
}
@section Scripts{
    <script src="~/js/test.js"></script>
}